/* Adicione isso ao início do seu CSS para remover margens padrão */


.wrapper {
    margin: 0;
    padding: 0;
    width: 80%;
    font-family: Arial, sans-serif;
}

body, h1 {
    margin: 0;
    padding: 0;
}

#cabecalho {
    position: relative;
    text-align: left;
    padding: 20px;
    background-color: rgb(23, 63, 143);
    color: white;
    border-bottom: 4px solid rgb(16, 45, 102);
}

#cabecalho button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saudacao h1 {
    margin: 0;
    padding: 0;
}




.saudacao p {
    margin:0;
    display: inline;
    padding:5px;
    background-color:rgb(23, 63, 143);
    color: white;
    border :2px solid rgb(16, 45, 102);
}

.saudacao h1 {
    margin-top:5px;
    margin-bottom:20px;
    text-align: center;
    font-size: 28px;

    color: rgb(0, 0, 0);
}

#btnUsuario{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: rgb(23, 63, 143);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.opcoes {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 15px;
    margin:15px
}



a {
    color:rgb(22, 20, 172);
}


a:hover{
    color: rgb(214, 31, 31);
}

a:visited {
    color:rgb(78, 0, 147);
}